<div class="container-fluid mb-10 bg-white rounded shadow">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <br><br><br>
            <div class="table-responsive">
                <table class="table table-light table-hover">
                    <thead>
                        <tr class="text-carrito">
                            <th scope="col" class="col-5">Productos</th>
                            <th scope="col" class="col-2">Precio</th>
                            <th scope="col" class="col-2">Cantidad</th>
                            <th scope="col" class="col-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.session.carro.items %}
                            {% for key, value in request.session.carro.items %}
                                <tr>
                                    <td class="table-productos col-5">
                                        <img src="{{value.imagen}}" alt="Blackberry Cupcake" class="img-carrito">
                                        <h4 class="title">{{value.nombre}}</h4>
                                    </td>
                                    <td class="table-precio col-2">
                                        <p>${{value.precio}}</p>
                                    </td>
                                    <td class="table-cantidad col-2">
                                        <input type="number" min="0" value="{{value.cantidad}}" style="max-width: 60px;">
                                    </td>
                                    <td class="col-3">
                                        <a class="delete btn btn-danger" type="button" href="{%url 'carro:eliminarCarrito' value.producto_id %}">X</a>
                                        <a class="delete btn btn-danger" type="button" href="{%url 'carro:restarCarrito' value.producto_id %}">-</a>
                                        <a class="delete btn btn-danger" type="button" href="{%url 'carro:agregarCarrito' value.producto_id %}">+</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-danger text-center">
                                        No hay productos en su carro.
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
